<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head>
<title>Pesquisa de título</title>
</head>

<section layout:fragment="conteudo">
<div layout:include="MensagemGeral"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title lb-titulo-panel">Pesquisa de títulos</h1>
				<a class="btn btn-link lb-link-panel" th:href="@{/titulos/novo}">Novo
					título</a>
			</div>
		</div>

		<div class="panel-body">
		
			<form method="GET" class="form-horizontal" th:action="@{/titulos}" th:object="${filtro}">
				<div class="form-group">
					<div class="col-sm-4">
						<div class="input-group">
							<input class="form-control" placeholder="Descrição do título" autofocus="autofocus" 
								   th:field="*{descricao}"></input>
							<span class="input-group-btn ">
								<button type="submit" class="btn btn-default">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>
			
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th class="col-md-4">Descrição</th>
							<th class="text-center col-md-1">Vencimento</th>
							<th class="text-center col-md-1">Pagamento</th>
							<th class="text-right col-md-1">Valor</th>
							<th class="text-right col-md-1">Valor pago</th>
							<th class="text-center col-md-1">Status</th>
							<th class="text-center col-md-1">Tipo</th>
							<th class="text-center col-md-1">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="titulo : ${titulos}">
							<td class="text-center" th:text="${titulo.codigo}">1</td>
							<td th:text="${titulo.descricao}"></td>
							<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
							<td class="text-center" th:text="${{titulo.dataPagamento}}" th:attr="data-role-pagamento=${titulo.codigo}"></td>
							<td class="text-right"  th:text="|R$ ${{titulo.valor}}|"></td>
							<td class="text-right"  th:text="|R$ ${{titulo.valorPago}}|" th:attr="data-role-valor-pago=${titulo.codigo}"></td>
							<td class="text-center" th:attr="data-role=${titulo.codigo}">
								<span class="label"
									th:classappend="${titulo.pendente ? 'label-danger' : 'label-success'}"
									th:text="${titulo.status.descricao}">
								</span>
							</td>
	
							<td class="text-center" th:text="${titulo.tipo.descricao}"></td>
							<td class="text-center">
								<a class="btn btn-link btn-xs" title="Editar" rel="tooltip" data-placment="top"
									th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}"> 
									<span
										class="glyphicon glyphicon-pencil"> 
									</span>
								</a> 
								<a class="btn btn-link btn-xs" data-toggle="modal"
									title="Excluir" rel="tooltip" data-placment="top"
									th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}"
									data-target="#confirmacaoExclusaoModal"> <span
										class="glyphicon glyphicon-remove"></span>
								</a>
								<a title="Receber" rel="tooltip" data-placment="top"
								   th:if="${titulo.pendente}"
								   th:attr="data-codigo=${titulo.codigo}, data-pagamento=${{titulo.dataVencimento}}, data-valor=|R$ ${{titulo.valor}}|"
								   th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}"
								   class="btn btn-link btn-xs js-atualizar-status">
								   
									<span class="glyphicon glyphicon-check"> </span>
								</a>
							</td>
						</tr>
						<tr>
							<td colspan="9" th:if="${#lists.isEmpty(titulos)}">Nenhum
								título foi encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div layout:include="DialogoConfirmacaoExclusao"></div>
	</div>

</section>

</html>